.navbar{
    background-color: #F0F0F0;
}
body{
    background-color: #EEEEEE;
    
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
